@use '../../styles/abstracts' as *;

.rating {
  display: flex;
  flex-direction: column;
  width: 100%;
  h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
    color: $purple;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and(max-width: 768px) {
  .rating form button {
    align-self: center;
  }
}
