@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

$display: 42px;
$header: 34px;
$title_1: 28px;
$title_2: 22px;
$headline: 20px;
$body: 14px;
$caption: 12px;

* {
  font-family: "Poppins", sans-serif;
}
