@use '../../../styles/abstracts' as *;

.button {
  border: none;
  font-size: $title_2;
  height: 50px;
  width: 100%;
  max-width: 200px;
  margin: 25px 0;
  background: $purple;
  color: $light-text;
  outline: none;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    background: gray;

    &:hover {
      transform: none;
    }
  }
}
