.button {
  border: none;
  font-size: 1.4rem;
  height: 50px;
  width: 100%;
  max-width: 200px;
  margin: 25px 0;
  background: #49205c;
  color: #eeeeee;
  outline: none;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}
.button:disabled {
  background: gray;
}
.button:disabled:hover {
  transform: none;
}
