@use '../../../styles/abstracts' as *;

.circle-btn {
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: $input-background;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;

  .btn-text {
    display: none;
    font-size: $title_2;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .icon-wrapper {
    height: 100%;
    width: 50px;
    border-radius: 25px;
    background: $purple;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and(min-width: 950px) {
  .circle-btn:hover {
    .btn-text {
      display: block;
      padding: 0 20px;
      text-align: center;
      color: $purple;
    }
  }
}
