@use '../../styles/abstracts' as *;

.auto-input {
  width: 100%;
  position: relative;
  input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: $input-background;
    border: 1px solid $input-border;
    padding: 15px;
    font-size: 20px;
    outline: none;
  }
  &.small {
    height: 40px;
    width: 100%;
    padding: 0;
  }

  &.large {
    height: 75px;
    width: 100%;
    padding-right: 12px;
  }
  ul {
    position: absolute;
    left: 0;
    z-index: 20;
    list-style: none;
    border-radius: 10px;
    background: $input-background;
    padding: 5px 0;
    border: 1px solid $input-border;
    max-height: 250px;
    overflow-y: auto;
    li {
      background: $input-background;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 10px;
      &:hover {
        background: $input-border;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &.small {
      width: 100%;
      top: 45px;
    }

    &.large {
      width: calc(100% - 12px);
      top: 80px;
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $light-text;
    border-radius: 0 10px 10px 0;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $input-background;
    border-radius: 0 10px 10px 0;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $purple;
  }
}

@media screen and(max-width: 450px) {
  .auto-input {
    &.small {
      height: 40px;
    }

    &.large {
      height: 50px;
    }
    input {
      font-size: 14px;
    }
    ul {
      top: 55px;
      li {
        font-size: 14px;
        padding: 10px;
      }
    }
  }
}
