@use '../styles/abstracts' as *;

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(73, 32, 92, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;
}
