@use '../styles/abstracts' as *;

.leftbar {
  width: 50%;

  h1 {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    font-size: $title_2;
    text-align: justify;
    margin-bottom: 25px;
  }

  li {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: $title_2;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 15px;
      font-size: $header;
    }
  }
}

.rightbar {
  width: 50%;

  form {
    width: 60%;
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and(max-width: 768px) {
  .leftbar,
  .rightbar {
    width: 100%;
  }
  .rightbar form {
    width: 90%;
  }
  .leftbar {
    margin-bottom: 25px;
  }
}
