@use '../styles/abstracts' as *;

.leftbar {
  width: 50%;
  padding-right: 50px;

  h1 {
    font-weight: 500;
    font-size: clamp($title_1, 4vw, 48px);
    margin-bottom: 10px;
  }
  span {
    font-weight: bold;
    font-size: clamp(72px, 8vw, 96px);
    margin-bottom: $headline;
  }
  p {
    font-weight: 500;
    font-size: clamp($body, 2vw, 18px);
    line-height: 27px;

    margin-bottom: $headline;
  }
}

.rightbar {
  width: 50%;
  img {
    width: 100%;
  }
}
