@use '../styles/abstracts' as *;

.edit-menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.edit-form {
  width: 70%;
  min-height: 550px;
  padding-left: 50px;
  padding-right: 15%;
}

@media screen and(max-width: 768px) {
  .edit-menu {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 3px solid $purple;
    margin-bottom: 50px;
  }
  .edit-form {
    width: 100%;
    padding: 0;
  }
}
