@use '../../../styles/abstracts' as *;

.edit-form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 35% 65%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  font-size: 18px;

  .profile-img {
    width: 50px;
    border-radius: 25px;
    align-self: center;
    justify-self: flex-end;
  }

  .name {
    align-self: center;
    margin: 0;
  }

  .label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-start;
    line-height: 60px;
    font-weight: bold;
  }
}

@media screen and(max-width: 768px) {
  .edit-form {
    width: 100%;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 5px;
    .profile-img {
      justify-self: flex-start;
    }
    .label {
      align-items: flex-start;
      line-height: 30px;
    }
  }
}
