@use '../../../styles/abstracts' as *;

.edit-form {
  width: calc(100% - 25px);
  font-size: 18px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;

  img {
    width: 50px;
    border-radius: 25px;
    align-self: center;
    justify-self: flex-end;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    font-weight: bold;
  }
  .bio {
    align-self: flex-start;
  }
  input,
  textarea {
    font-size: 18px;
    height: 40px;
    width: 100%;
    border: 1px solid $input-border;
    background: $input-background;
    outline: none;
    border-radius: 10px;
    padding: 5px;
  }
  textarea {
    margin: 0;
    resize: none;
    height: 100px;
  }

  .picture {
    align-items: flex-start;
    font-weight: 500;
    input[type="file"] {
      width: 100%;
      height: fit-content;
    }
  }

  button {
    grid-column: 2/3;
  }
}

@media screen and(max-width: 768px) {
  .edit-form {
    grid-template-columns: 1fr;
    width: 100%;
    .auto-input {
      ul {
        width: 100%;
      }
    }
    img {
      justify-self: flex-start;
    }
    label {
      align-items: flex-start;
    }
    input[type="file"] {
      width: 100%;
    }
    input,
    textarea {
      width: 100%;
    }
    button {
      grid-column: 1/2;
      justify-self: center;
    }
  }
}
