@use '../../styles/abstracts' as *;

.rating {
  display: flex;
  align-items: center;
  margin: 0 10px;

  .rating-stars {
    span {
      font-size: $title_2;
    }
  }
  .rating-text {
    font-size: $body;
    color: $dark-text;
    margin-left: 10px;
  }
}

@media screen and(max-width: 450px) {
  .rating {
    flex-direction: column;
    margin-bottom: 5px;
  }
}
