@use '../../styles/abstracts' as *;

.text-container {
  width: 100%;
  height: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: clamp(28px, 3vw, 64px);
    line-height: clamp(50px, 5vw, 80px);
    color: $light-text;
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: clamp($title_2, 2vw, $title_2);
    line-height: clamp(25px, 5vw, 55px);

    color: $light-text;
  }
}

@media screen and(max-width: 1450px) {
  .text-container {
    padding: 0 25px;
  }
}
