@use '../../styles/abstracts/' as *;

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .small {
    width: 25px;
    height: 25px;
    margin: 5px 0;
  }

  .medium {
    width: 50px;
    height: 50px;
    margin: 25px 0;
  }

  .large {
    width: 100px;
    height: 100px;
    margin: 50px 0;
  }

  &.full {
    height: 100vh;

    .full {
      height: 300px;
      width: 300px;
    }
  }
}
