@use './abstracts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
}

.background {
  width: 100%;
  height: 100vh;
  background: url("./background.webp") center no-repeat;
  background-size: cover;
  background-position: top;
  position: absolute;
  z-index: -10;
}
