@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
.hamburger-icon {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  outline: none;
  position: relative;
}
.hamburger-icon .line {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background: #eee;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
.hamburger-icon .line:first-child, .hamburger-icon .line:last-child {
  width: 15px;
}
.hamburger-icon .line:first-child {
  top: 0;
  left: 0;
}
.hamburger-icon .line:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hamburger-icon .line:last-child {
  bottom: 0;
  right: 0;
}
.hamburger-icon.open .line:first-child {
  transform: translateX(2px) translateY(8px) rotate(405deg);
}
.hamburger-icon.open .line:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}
.hamburger-icon.open .line:last-child {
  transform: translateX(-2px) translateY(-8px) rotate(405deg);
}

.sidemenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidemenu {
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    position: fixed;
    z-index: 20;
    top: 80px;
    right: -100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: transform 0.5s ease-in-out;
  }
  .sidemenu li {
    padding: 1rem 2rem;
  }
  .sidemenu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #49205c;
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  .sidemenu li a img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }
  .sidemenu li a span {
    user-select: none;
    margin: 0 5px;
    font-size: 18px;
  }
  .sidemenu.open {
    transform: translateX(-100%);
  }
}
.navbar {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px calc((100vw - 1400px) / 2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar__logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.navbar__logo h1 {
  font-weight: bold;
  font-size: clamp(14px, 1.75vw, 24px);
  line-height: 36px;
  color: #eee;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: clamp(8px, 1.25vw, 18px);
  line-height: 22px;
  padding: 0.25rem 1rem;
  color: #eee;
}
.navbar__toggle {
  display: none;
}

@media screen and (max-width: 1450px) {
  .navbar {
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 25px;
  }
  .navbar ul {
    display: none;
  }
  .navbar__toggle {
    display: block;
  }
  .navbar.open {
    background: #49205c;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  }
}
.text-container {
  width: 100%;
  height: 100%;
  padding: 0 calc((100vw - 1400px) / 2);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-container__title {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(28px, 3vw, 64px);
  line-height: clamp(50px, 5vw, 80px);
  color: #eee;
}
.text-container__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(18px, 1vw, 32px);
  line-height: clamp(25px, 5vw, 55px);
  color: #eee;
}

.search-bar {
  width: 100%;
  max-width: 1400px;
  height: 150px;
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-75px);
  display: flex;
  padding: calc(75px / 2);
  margin: 0 calc((100vw - 1400px) / 2);
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 75px;
}
.search-bar a,
.search-bar span {
  text-decoration: none;
  width: 75px;
  height: 75px;
  background: #49205c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.search-bar a .icon,
.search-bar span .icon {
  font-size: 40px;
  color: #eee;
}

@media screen and (max-width: 1450px) {
  .text-container {
    padding: 0 25px;
  }

  .search-bar {
    max-width: calc(100% - 50px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .search-bar {
    margin: 0 10px;
    max-width: calc(100% - 20px);
    width: 100%;
    flex-direction: column;
    height: 185px;
    bottom: -245px;
    grid-template-columns: 1fr 110px;
    grid-template-rows: 50px 50px;
    grid-row-gap: 10px;
    padding: calc(75px / 2) 20px;
  }
  .search-bar a,
.search-bar span {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 110px;
    width: 100%;
  }
  .search-bar a .icon,
.search-bar span .icon {
    font-size: 36px;
  }
}
footer {
  width: 100%;
}
footer .footer-header {
  height: 150px;
  background-color: #49205c;
  padding: 0 calc((100vw - 1400px) / 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footer-header .logo {
  grid-row: 1/3;
  grid-column: 1/2;
  display: flex;
  align-items: center;
}
footer .footer-header .logo img {
  margin-right: 15px;
}
footer .footer-header .logo h1 {
  font-weight: bold;
  font-size: clamp(14px, 3vw, 36px);
  color: #eee;
}
footer .footer-header .logo h2 {
  font-weight: 500;
  font-size: clamp(8px, 2vw, 30px);
  color: #eee;
}
footer .footer-header .social {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: flex-end;
}
footer .footer-header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
footer .footer-header ul li {
  margin: 0 15px;
  font-weight: 500;
  font-size: clamp(8px, 2vw, 18px);
  line-height: 22px;
  color: #eee;
}
footer .footer-header ul li .icon {
  font-size: clamp(18px, 2vw, 36px);
}
footer .footer-bottom {
  width: 100%;
  max-width: 1400px;
  height: 25px;
  background-color: #e3e3e3;
  text-align: center;
  margin: 0 calc((100vw - 1400px) / 2);
  border-top: 3px solid #49205c;
}
footer .footer-bottom h1 {
  font-weight: normal;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 21px;
  color: #49205c;
  padding: 15px 0;
}

@media screen and (max-width: 1450px) {
  footer .footer-header {
    padding: 0 25px;
  }
}
@media screen and (max-width: 450px) {
  footer .footer-header {
    padding: 0 10px;
  }
  footer .footer-header .logo {
    grid-row: 1/2;
  }
  footer .footer-header .logo img {
    width: 50px;
  }
  footer .footer-header .menu {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
  }
  footer .footer-header .social {
    align-self: center;
  }
}
.category-card {
  position: relative;
  margin: 25px;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.category-card img {
  width: 100%;
  height: 100%;
}
.category-card h1 {
  width: 100%;
  height: 100%;
  font-size: clamp(14px, 1.5vw, 36px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: rgba(73, 32, 92, 0.29);
}
.category-card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1450px) {
  .category-card {
    margin: 15px;
  }
}
@media screen and (max-width: 450px) {
  .category-card {
    margin: 5px;
  }
}
.providers .transparent-container {
  width: 100%;
}

.provider-card {
  transform: translateX(150px);
  background-color: #fff;
  width: calc(100% - 150px);
  height: auto;
  min-height: 350px;
  padding: 25px;
  padding-left: 175px;
  margin-bottom: 50px;
  display: flex;
  text-decoration: none;
}
.provider-card .provider-image {
  width: 300px;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #f7f7f7;
  left: -150px;
  top: 25px;
}
.provider-card .provider-info .header {
  display: flex;
  align-items: center;
}
.provider-card .provider-info .header h1 {
  font-weight: 500;
  font-size: clamp(18px, 2vw, 24px);
  line-height: 29px;
  color: #49205c;
  margin-bottom: 5px;
}
.provider-card .provider-info .header .rating {
  display: flex;
  align-items: center;
  color: #212121;
}
.provider-card .provider-info .header .rating .rating-stars {
  margin: 0 10px;
}
.provider-card .provider-info .header .rating span {
  font-size: 14px;
}
.provider-card .provider-info h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #49205c;
  margin-bottom: 20px;
}
.provider-card .provider-info h2 .icon {
  margin-right: 5px;
  color: #49205c;
}
.provider-card .provider-info p {
  font-weight: 300;
  font-size: clamp(12px, 1vw, 16px);
  color: #212121;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 25px;
  max-height: 135px;
  overflow: hidden;
}
.provider-card .provider-info .professions-bar {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .providers .transparent-container {
    padding-top: 150px;
  }
  .providers .transparent-container .message-container {
    margin-top: -150px;
    margin-bottom: 50px;
  }

  .provider-card {
    width: 100%;
    height: auto;
    transform: translateX(0);
    margin-bottom: 200px;
    padding: 25px;
    padding-top: 125px;
  }
  .provider-card .provider-image {
    width: 200px;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .provider-card .provider-info {
    width: 100%;
  }
  .provider-card .provider-info .header,
.provider-card .provider-info h2 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .provider-card .provider-info .header .rating {
    flex-direction: column;
  }
}
.profession-badge {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profession-badge__title {
  padding: 0.5rem 2rem;
  background: #49205c;
  font-weight: 500;
  line-height: 27px;
  color: #eee;
}
.profession-badge .small {
  font-size: 14px;
  padding: 0.2rem 1rem;
  margin-right: 5px;
  margin-bottom: 5px;
}
.profession-badge .medium {
  font-size: 18px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.profession-badge .large {
  font-size: 24px;
}

.auto-input {
  width: 100%;
  height: 75px;
  padding-right: 12px;
  position: relative;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.auto-input input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #f7f7f7;
  border: 1px solid #aaa;
  padding: 15px;
  font-size: 20px;
  outline: none;
}
.auto-input ul {
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 20;
  width: calc(100% - 12px);
  list-style: none;
  border-radius: 10px;
  background: #f7f7f7;
  padding: 5px 0;
  border: 1px solid #aaa;
  max-height: 250px;
  overflow-y: auto;
}
.auto-input ul li {
  background: #f7f7f7;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
}
.auto-input ul li:hover {
  background: #aaa;
}
.auto-input ul li:first-child {
  margin-top: 0;
}
.auto-input ::-webkit-scrollbar {
  width: 15px;
}
.auto-input ::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 0 10px 10px 0;
}
.auto-input ::-webkit-scrollbar-thumb {
  background: #f7f7f7;
  border-radius: 0 10px 10px 0;
}
.auto-input ::-webkit-scrollbar-thumb:hover {
  background: #49205c;
}

@media screen and (max-width: 450px) {
  .auto-input {
    width: 100%;
    height: 50px;
  }
  .auto-input input {
    font-size: 14px;
  }
  .auto-input ul {
    top: 55px;
  }
  .auto-input ul li {
    font-size: 14px;
    padding: 10px;
  }
}
.profession-list {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profession-list h1 {
  margin: 25px 0;
  font-size: clamp(12px, 2vw, 24px);
  color: #212121;
}
.profession-list .professions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.profession-list .professions a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background: #49205c;
  color: #eee;
  margin: 10px;
  padding: 0.5rem 2rem;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.profession-list .professions a:hover {
  transform: scale(1.05);
}
.profession-list .back-arrow {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: clamp(18px, 2vw, 36px);
  color: #212121;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.profession-list .back-arrow:hover {
  transform: scale(1.1);
  color: #49205c;
}

@media screen and (max-width: 1450px) {
  .profession-list .professions a {
    padding: 0.25rem 1.2rem;
    font-size: 14px;
  }
  .profession-list .back-arrow {
    left: 15px;
    top: 20px;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #eee;
  margin-bottom: 50px;
}
.pagination a {
  text-decoration: none;
  color: #eee;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #49205c;
  margin: 0 5px;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.pagination a:hover {
  transform: scale(1.05);
}
.pagination a.active {
  background: #2b1336;
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 450px) {
  .pagination a {
    height: 40px;
    width: 40px;
  }
  .pagination a.active {
    height: 45px;
    width: 45px;
  }
}
.profile-button {
  width: 175px;
  height: 50px;
  user-select: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.03);
  box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, 0.03);
  color: #eee;
  cursor: pointer;
  padding: 5px 15px;
}
.profile-button .button {
  height: 100%;
  display: flex;
  align-items: center;
}
.profile-button .button img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
}
.profile-button .button span {
  user-select: none;
  margin: 0 5px;
  font-size: clamp(10px, 1vw, 14px);
}
.profile-button .button .icon {
  margin: 0;
}
.profile-button .dropdown {
  display: none;
}
.profile-button .dropdown.open {
  position: absolute;
  width: 175px;
  top: 55px;
  left: 0;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
}
.profile-button .dropdown.open span,
.profile-button .dropdown.open a {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: clamp(10px, 1vw, 18px);
  text-decoration: none;
  color: #eee;
  user-select: none;
  display: flex;
  align-items: center;
}
.profile-button .dropdown.open span .icon,
.profile-button .dropdown.open a .icon {
  margin-left: 5px;
}
.profile-button .dropdown.open span:hover,
.profile-button .dropdown.open a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container .small {
  width: 25px;
  height: 25px;
  margin: 5px 0;
}
.loader-container .medium {
  width: 50px;
  height: 50px;
  margin: 25px 0;
}
.loader-container .large {
  width: 100px;
  height: 100px;
  margin: 50px 0;
}

.rating-card h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
  color: #49205c;
}
.rating-card form {
  display: flex;
  flex-direction: column;
}
.rating-card form label {
  display: flex;
  flex-direction: column;
}
.rating-card form label input {
  width: 70%;
  height: 30px;
  margin: 10px 0;
  outline: none;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.rating-card form select,
.rating-card form textarea {
  width: 70%;
  margin: 10px 0;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
.rating-card form textarea {
  height: 100px;
  resize: none;
}

@media screen and (max-width: 768px) {
  .rating-card {
    width: 100%;
  }
  .rating-card form label input {
    width: 100%;
  }
  .rating-card form select,
.rating-card form textarea {
    width: 100%;
  }
  .rating-card form button {
    align-self: center;
  }
}
.edit-card {
  width: 70%;
  padding-left: 50px;
}
.edit-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.edit-card form .auto-input {
  height: 40px;
  width: 100%;
  padding: 0;
}
.edit-card form .auto-input ul {
  width: 80%;
  top: 45px;
}
.edit-card form img {
  width: 50px;
  border-radius: 25px;
  align-self: center;
  justify-self: flex-end;
}
.edit-card form label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-weight: bold;
}
.edit-card form .bio {
  align-self: flex-start;
}
.edit-card form input,
.edit-card form textarea {
  height: 40px;
  width: 80%;
  border: 1px solid #aaa;
  background: #f7f7f7;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.edit-card form textarea {
  resize: none;
  height: 100px;
}
.edit-card form input[type=file] {
  width: 80%;
  height: fit-content;
}
.edit-card form .picture {
  align-items: flex-start;
  font-weight: 500;
}
.edit-card form button {
  grid-column: 2/3;
}

@media screen and (max-width: 768px) {
  .edit-card {
    width: 100%;
    padding: 0;
  }
  .edit-card form {
    grid-template-columns: 1fr;
  }
  .edit-card form .auto-input ul {
    width: 100%;
  }
  .edit-card form img {
    justify-self: flex-start;
  }
  .edit-card form label {
    align-items: flex-start;
  }
  .edit-card form input[type=file] {
    width: 100%;
  }
  .edit-card form input,
.edit-card form textarea {
    width: 100%;
  }
  .edit-card form button {
    grid-column: 1/2;
    justify-self: center;
  }
}
.password-change-card {
  width: 70%;
  padding-left: 50px;
}
.password-change-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 35% 65%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.password-change-card form img {
  width: 50px;
  border-radius: 25px;
  align-self: center;
  justify-self: flex-end;
}
.password-change-card form h1 {
  align-self: center;
}
.password-change-card form label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-weight: bold;
}
.password-change-card form input {
  height: 40px;
  width: 80%;
  border: 1px solid #aaa;
  background: #f7f7f7;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.password-change-card form button {
  grid-column: 2/3;
}

@media screen and (max-width: 768px) {
  .password-change-card {
    width: 100%;
    padding-left: 0;
  }
  .password-change-card form {
    width: 100%;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  .password-change-card form img {
    justify-self: flex-start;
  }
  .password-change-card form label {
    align-items: flex-start;
  }
  .password-change-card form input {
    width: 100%;
  }
  .password-change-card form button {
    grid-column: 1/2;
    justify-self: center;
  }
}
.delete-card {
  width: 70%;
  padding-left: 50px;
}
.delete-card p {
  font-size: 18px;
  margin-bottom: 25px;
}
.delete-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}
.delete-card form label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-weight: bold;
}
.delete-card form input {
  height: 40px;
  width: 70%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.delete-card form button {
  grid-column: 2/3;
}

.gallery-upload-card {
  width: 70%;
  padding-left: 50px;
}
.gallery-upload-card p {
  font-size: 18px;
  margin-bottom: 25px;
}
.gallery-upload-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.gallery-upload-card form label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-weight: bold;
}
.gallery-upload-card form input {
  height: 40px;
  width: 70%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.gallery-upload-card form button {
  grid-column: 2/3;
}

.add-profession-card {
  width: 70%;
  padding-left: 50px;
}
.add-profession-card p {
  font-size: 18px;
  margin-bottom: 25px;
}
.add-profession-card h1 {
  margin-bottom: 25px;
}
.add-profession-card .profession-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  position: relative;
}
.add-profession-card .profession-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #49205c;
}
.add-profession-card form {
  width: calc(100% - 25px);
  display: grid;
  grid-template-columns: 35% 65%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.add-profession-card form label {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-start;
  font-weight: bold;
}
.add-profession-card form input {
  height: 40px;
  width: 70%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
.add-profession-card form .auto-input {
  justify-self: center;
  width: 100%;
  padding: 0;
}
.add-profession-card form .auto-input ul {
  top: 45px;
  width: 70%;
}
.add-profession-card form button {
  grid-column: 2/3;
}

@media screen and (max-width: 768px) {
  .add-profession-card {
    width: 100%;
    padding: 0;
  }
  .add-profession-card form {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .add-profession-card form label {
    justify-self: flex-start;
  }
  .add-profession-card form button {
    grid-column: 1/2;
  }
}
.message-container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-container .error {
  font-size: 18px;
  color: #ff3333;
  font-weight: 500;
}
.message-container .icon {
  font-size: 18px;
  color: #ff3333;
  margin-right: 5px;
}
.message-container .small {
  margin: 10px 0;
}
.message-container .medium {
  margin: 25px 0;
}
.message-container .large {
  margin: 50px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-container {
  position: relative;
  width: 400px;
  height: 200px;
  background: #eee;
  padding: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.modal .modal-container .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.modal .modal-container .content .envelope {
  font-size: 2rem;
  color: #212121;
}
.modal .modal-container .content h1 {
  position: relative;
  font-size: 1rem;
  margin-bottom: 15px;
}
.modal .modal-container .content h1::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -70px;
  right: -170px;
  background: #49205c;
}
.modal .modal-container .content h1::before {
  content: "";
  width: 180%;
  height: 3px;
  position: absolute;
  bottom: -90px;
  right: -150px;
  background: #49205c;
}
.modal .modal-container .content .icon {
  cursor: pointer;
  color: #49205c;
  font-size: 18px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal .modal-container::before {
  content: "";
  width: 80%;
  height: 3px;
  position: absolute;
  top: 20px;
  left: -20px;
  background: #49205c;
}
.modal .modal-container::after {
  content: "";
  width: 40%;
  height: 3px;
  position: absolute;
  top: 40px;
  left: -40px;
  background: #49205c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  background: #e3e3e3;
  color: #212121;
}

.content {
  width: 100%;
}
.content .white-container {
  width: 100%;
  max-width: 1400px;
  padding: 0 100px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 calc((100vw - 1400px) / 2);
  display: flex;
  align-items: center;
  transform: translateY(-75px);
  background: #fff;
}
.content .transparent-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 calc((100vw - 1400px) / 2);
  margin-top: 175px;
}

@media screen and (max-width: 1450px) {
  .content {
    padding: 0 25px;
  }
  .content .white-container {
    padding: 0 50px;
    max-width: unset;
    margin: 0;
  }
  .content .transparent-container {
    max-width: unset;
    margin: 0;
    margin-top: 175px;
  }
}
@media screen and (max-width: 450px) {
  .content {
    padding: 0 10px;
  }
  .content .white-container {
    padding: 0 50px;
  }
}
button {
  border: none;
  height: 50px;
  width: 100%;
  max-width: 200px;
  margin: 25px 0;
  background: #49205c;
  color: #eee;
  outline: none;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}

.link-btn {
  width: 100%;
  height: 50px;
  border: 3px solid #49205c;
  font-size: clamp(14px, 2vw, 24px);
  border-radius: 10px;
  background: transparent;
  color: #49205c;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  margin-bottom: 15px;
  font-weight: 500;
}
.link-btn:hover {
  border: none;
  background: #49205c;
  color: #eee;
}
.link-btn.active {
  border: none;
  background: #49205c;
  color: #eee;
}

.link-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-btn .icon {
  margin-left: 5px;
}

.circle-btn {
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  background: #f7f7f7;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
}
.circle-btn .btn-text {
  display: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.circle-btn .icon-wrapper {
  height: 100%;
  width: 50px;
  border-radius: 25px;
  background: #49205c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-btn .icon-wrapper .icon {
  font-size: 25px;
  color: #eee;
}

@media screen and (min-width: 769px) {
  .circle-btn:hover .btn-text {
    display: block;
    padding: 0 20px;
    text-align: center;
    color: #49205c;
  }
}
.background {
  width: 100%;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  background-position: top;
}

.large-bg {
  height: 60vh;
}

.medium-bg {
  height: 45vh;
  min-height: 375px;
}

.small-bg {
  height: 25vh;
}

.fullsize-bg {
  height: 100vh;
}

.bar-input {
  margin-top: 5px;
  height: 50px;
  border-radius: 10px;
  background: #f7f7f7;
  border: none;
  padding: 10px;
}

.flat-input {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin: 10px 0;
}
.flat-input.text {
  height: 100px;
}
.flat-input input,
.flat-input textarea {
  width: 100%;
  height: 50px;
  border: none;
  padding-top: 20px;
  outline: none;
}
.flat-input textarea {
  height: 100px;
  resize: none;
}
.flat-input input:focus + .label-name .content-name,
.flat-input input:valid + .label-name .content-name {
  transform: translateY(-20px);
  font-size: 14px;
  color: #49205c;
}
.flat-input textarea:focus + .label-name .content-name,
.flat-input textarea:valid + .label-name .content-name {
  transform: translateY(-70px);
  font-size: 14px;
  color: #49205c;
}
.flat-input input:focus + .label-name::after,
.flat-input textarea:focus + .label-name::after {
  transform: translateX(0);
}
.flat-input label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #212121;
}
.flat-input label::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: -1px;
  border-bottom: 3px solid #49205c;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.flat-input label .content-name {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: transform 0.5s ease;
}

.contact .white-container {
  height: 750px;
}
.contact .white-container .leftbar {
  width: 50%;
}
.contact .white-container .leftbar h1 {
  font-weight: 500;
  font-size: clamp(24px, 5vw, 48px);
  margin-bottom: 20px;
}
.contact .white-container .leftbar p {
  font-weight: 300;
  font-size: clamp(16px, 2vw, 22px);
  text-align: justify;
  margin-bottom: 25px;
}
.contact .white-container .leftbar li {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 24px);
  display: flex;
  align-items: center;
}
.contact .white-container .leftbar li .icon {
  margin-right: 15px;
  font-size: clamp(18px, 2vw, 32px);
}
.contact .white-container .rightbar {
  width: 50%;
}
.contact .white-container .rightbar form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .white-container .rightbar form .flat-input {
  width: 60%;
}

@media screen and (max-width: 450px) {
  .contact .white-container {
    padding: 50px 25px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact .white-container .leftbar,
.contact .white-container .rightbar {
    width: 100%;
  }
}
.auth-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(73, 32, 92, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-screen .auth-card {
  width: 400px;
  height: auto;
  background-color: #eee;
  border-radius: 10px;
  padding: 0 50px;
  position: relative;
  align-items: center;
}
.auth-screen .auth-card h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 80px;
  text-align: center;
  color: #49205c;
}
.auth-screen .auth-card a {
  text-decoration: none;
}
.auth-screen .auth-card a .icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: #212121;
}
.auth-screen .auth-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-screen .auth-card form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
}
.auth-screen .auth-card form .checkbox {
  width: 100%;
}
.auth-screen .auth-card form .checkbox span {
  margin-left: 5px;
  font-size: 18px;
}
.auth-screen .auth-card form .checkbox span span {
  color: #49205c;
  font-weight: 500;
}
.auth-screen .auth-card form .login-settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-screen .auth-card form .login-settings label {
  width: 50%;
  font-weight: 600;
  font-size: 12px;
  color: #49205c;
}
.auth-screen .auth-card form .login-settings label span {
  margin-left: 5px;
}
.auth-screen .auth-card form .login-settings a {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  line-height: 55px;
  color: #49205c;
}
.auth-screen .auth-card p {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  margin-bottom: 25px;
}
.auth-screen .auth-card p a {
  font-weight: 500;
  font-size: 14px;
  color: #49205c;
}

@media screen and (max-width: 450px) {
  .auth-screen .auth-card {
    width: calc(100% - 20px);
  }
  .auth-screen .auth-card form .checkbox span {
    font-size: 12px;
  }
}
.offer .white-container {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.offer .white-container h1 {
  font-weight: 500;
  font-size: clamp(24px, 4vw, 36px);
  line-height: 54px;
  margin: 25px 0;
}
.offer .white-container form {
  width: 100%;
  display: grid;
  position: relative;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 140px 1fr;
}
.offer .white-container form .flat-input {
  width: 100%;
}
.offer .white-container form .flat-input.text {
  grid-column: 2/3;
  grid-row: 3/4;
}
.offer .white-container form button {
  grid-row: 4/5;
  grid-column: 2/3;
}
.offer .white-container form .checkbox {
  align-self: center;
  width: 100%;
  font-size: clamp(12px, 2vw, 18px);
  margin-top: 10px;
  margin-bottom: 25px;
}
.offer .white-container form .checkbox input[type=checkbox] {
  border: 1px solid #49205c;
}
.offer .white-container form .checkbox span {
  margin-left: 5px;
}
.offer .white-container form .checkbox span span {
  color: #49205c;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .offer .white-container {
    height: auto;
  }
  .offer .white-container form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 140px 1fr 1fr;
  }
  .offer .white-container form .flat-input.text {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .offer .white-container form button {
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
.error .white-container {
  height: 750px;
}
.error .white-container .leftbar {
  width: 50%;
  padding-right: 50px;
}
.error .white-container .leftbar h1 {
  font-weight: 500;
  font-size: clamp(24px, 4vw, 48px);
  margin-bottom: 10px;
}
.error .white-container .leftbar span {
  font-weight: bold;
  font-size: clamp(72px, 8vw, 96px);
  margin-bottom: 20px;
}
.error .white-container .leftbar p {
  font-weight: 500;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 27px;
  margin-bottom: 20px;
}
.error .white-container .leftbar .link {
  width: 200px;
  padding: 0.75rem 3rem;
  background: #49205c;
  text-decoration: none;
  font-size: clamp(18px, 3vw, 24px);
  margin: 15px 0;
  color: #eee;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.error .white-container .leftbar .link:hover {
  transform: scale(1.1);
}
.error .white-container .rightbar {
  width: 50%;
}
.error .white-container .rightbar img {
  width: 100%;
}

@media screen and (max-width: 450px) {
  .error .white-container {
    padding: 50px 25px;
    height: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .error .white-container .rightbar {
    width: 100%;
    align-self: center;
  }
  .error .white-container .rightbar img {
    width: 200px;
  }
  .error .white-container .leftbar {
    width: 100%;
    padding: 0;
  }
}
.category .transparent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category .transparent-container__title {
  width: 420px;
  text-align: center;
  font-weight: 600;
  font-size: clamp(24px, 4vw, 36px);
  line-height: 50px;
  padding: 15px 0;
  margin-bottom: 25px;
  border-bottom: 5px solid #49205c;
}
.category .transparent-container p {
  text-align: center;
  font-weight: normal;
  font-size: clamp(14px, 3vw, 18px);
  line-height: 21px;
  margin-bottom: 50px;
}
.category .transparent-container .profession-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;
}

@media screen and (max-width: 1450px) {
  .category .transparent-container .profession-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .category .transparent-container {
    margin-top: 175px;
  }
  .category .transparent-container__title {
    width: 290px;
  }
  .category .transparent-container .profession-container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
  }
}
.profile .white-container {
  height: auto;
  padding: 50px;
  align-items: flex-start;
  flex-direction: column;
}
.profile .white-container .profile-image {
  width: 300px;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #f7f7f7;
  left: 50px;
  top: -200px;
}
.profile .white-container .button-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}
.profile .white-container .profile-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.profile .white-container .profile-header h1 {
  font-weight: 500;
  font-size: clamp(36px, 5vw, 48px);
  line-height: 72px;
  color: #49205c;
}
.profile .white-container .profile-header .rating {
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.profile .white-container .profile-header .rating .rating-stars span {
  font-size: 32px;
}
.profile .white-container .profile-header .rating .rating-text {
  font-size: 14px;
  color: #212121;
  margin-left: 10px;
}
.profile .white-container .contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.profile .white-container .contact-info h2 {
  font-weight: 500;
  font-size: clamp(18px, 3vw, 24px);
  line-height: 36px;
  margin-bottom: 15px;
  margin-right: 25px;
  color: #212121;
  display: flex;
  align-items: center;
}
.profile .white-container .contact-info h2 .icon {
  line-height: 36px;
  font-size: 24px;
  margin-right: 5px;
  color: #212121;
}
.profile .white-container .description h3,
.profile .white-container .gallery h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
  color: #49205c;
}
.profile .white-container .description p,
.profile .white-container .gallery p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 50px;
}
.profile .white-container .profession-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .profile .white-container {
    align-items: center;
    padding: 50px 25px;
  }
  .profile .white-container .button-container {
    justify-content: center;
    margin-top: 75px;
  }
  .profile .white-container .profile-image {
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }
  .profile .white-container .profile-header {
    flex-direction: column;
    align-items: center;
  }
  .profile .white-container .profile-header h1 {
    text-align: center;
  }
  .profile .white-container .profile-header .rating {
    flex-direction: column;
  }
  .profile .white-container .contact-info {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 399px) {
  .profile .white-container .profession-bar .profession-badge .medium {
    font-size: 14px;
    padding: 0.2rem 1rem;
  }
}
.edit .white-container {
  height: auto;
  min-height: 750px;
  padding: 100px 50px;
  align-items: flex-start;
}
.edit .white-container .edit-menu {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .edit .white-container {
    flex-direction: column;
  }
  .edit .white-container .edit-menu {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 3px solid #49205c;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
